*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(piano.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
}

body{
    background-color: #302e2e; 
    display: block;
}

.menu{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

.menu ul{
    list-style: none;
    /*margin-top: 10%;*/
}

.menu ul li{
    z-index: 100;
    display: block;
    background: #3f3b3b;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: Helvetica;
}

.menu ul li:hover{
    background: crimson;
}

.menu ul ul{
    display: none;
    width: 100%;
}

.menu ul li:hover > ul{
    display: block;
    margin-top: 0%;
}

.menu ul ul ul{
    margin-left: 100%;
    top: 0;
    position: absolute;
}

.searchBox{
    position: relative;
    margin-top: 20px;
    background-color: crimson;
    height: 50px;
}

.searchField{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.searchField input{
    height: 36px;
    width: 400px;
    font-size: 20px;
    font-family: Helvetica;
}

.submitButton{
    position: absolute;
    margin-top: 5px;
    margin-left: 414px;
}

.submitButton button{
    height: 40px;
    width: 80px;
    font-family: Helvetica;
    font-size: 20px;
}
